:root {
    --main-background-image: cross-fade();

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(#fff,#fff,#fff,0.01);
}

html, body {

    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    justify-content: center;
}

header,
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
    padding-left: 20px;
}

nav {

    flex: 1 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
}

nav a {
    color: rgb(129, 87, 243);
    text-decoration: none;

}

nav a:hover {
    animation: link 0.4s linear;

}

main {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

    max-width: 1600px;
}

section {

    flex: 0 0 450px;

    max-width: 500px;
    height: 300px;
    min-width: 300px;
    margin-bottom: 10px;
    padding: 10px;

    /* box-shadow: 3px 3px 4px rgb(75, 34, 121), -3px -3px 4px rgb(78, 218, 243);
    border: 2px solid rgb(26, 4, 228);
    border-radius: 5px; */
}

figure{
    filter: drop-shadow(5px 5px 15px rgb(73, 76, 77));
   
}

.out-path{
  
    clip-path: circle(100px at 50% 50%);
    overflow: hidden;
    box-shadow: 2px 3px 5px 15px rgba(0,0,0,0.9);
}

@keyframes link {
    from {
        text-shadow: 1px 1px 5px black;
    }

    /* to {
        text-shadow: 1px 1px 5px rgb(248, 3, 3);
    } */


}